p {
  color: rgb(231, 235, 18);
}
ul {
    color:rgb(229, 233, 11)
}
html {
    background-color: #17a723;
  }
  body {
    width: 1150px;
    margin: 0 auto;
    background-color: #a00f33;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(238, 204, 10);
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #879f00;
    text-shadow: 3px 3px 1px rgb(229, 233, 11);
  }
  h2 {
    margin: 0;
    padding: 20px 0;
    color: #4a0c7c;
    text-shadow: 3px 3px 1px rgb(66, 8, 71);
  }
  img {
    display: block;
    margin: 0 auto;
  }
  